<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273383696499-elamtpa2a83hn7r3llu5et2ugeo366ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273383696499-elamtpa2a83hn7r3llu5et2ugeo366ld</string>
	<key>API_KEY</key>
	<string>AIzaSyCh3VQucEH7ITMnb_UsqFyA9L-YV_MRQZE</string>
	<key>GCM_SENDER_ID</key>
	<string>273383696499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudentManager</string>
	<key>PROJECT_ID</key>
	<string>trung-tam-353af</string>
	<key>STORAGE_BUCKET</key>
	<string>trung-tam-353af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273383696499:ios:fa3ed0adbc05a9e22ea206</string>
</dict>
</plist>